{
  presets: [
    ["env", {
      "targets": {
        "browsers": ["> 2%", "ie >= 9"]
      },
      modules: "commonjs",
      "debug": true,
      "include": [],
      "exclude": [],
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  plugins: [
    "webpack-async-module-name",
    "transform-runtime", [
      "component", [{
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        },
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]
    ]
  ]
}