{
  presets: ["es2015", "stage-0"],
  plugins: [
    "syntax-dynamic-import",
    "transform-runtime",
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        },
        { "libraryName": "mint-ui", "style": true }
      ]
    ]
  ]
}
