.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.icon {
  width: 4px;
  height: 16px;
  background: rgb(255, 100, 0);
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
