.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #c1ced8;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  &:hover {
    background-color: #edf6fc;
  }
}
.holder {
  width: 24px;
  height: 24px;
  background: #068cb7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.text {
  font-size: 12px;
  color: $color;
}
